<div class="panel panel-default panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Molar Mass Calculator</h1>
    <a href="https://bocatutor.me" target="_blank" class="anchor">Boca Tutor</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group input-group-lg">
          <input id="chemistry-formula" value="H₂O" type="text" class="form-control" placeholder="Chemical Formula">
          <span class="input-group-btn">
            <button id="go-button" class="btn btn-default" type="button">Go</button>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="alert alert-success" role="alert">Answer: <span id="molarMass"></span> g/mol</div>
      </div>
    </div>
    <br />
    <table id="molar-mass-table" class="table">
    </table>
  </div>
</div>
