.panel {
  width: 700px;
  margin: 30px auto;
}
.alert {
  padding: 12px;
  margin-bottom: 0px;
}
.anchor {
  color: #000 !important;
  text-decoration: none;
  font-size: 16px;
  text-align: right;
  display: inline-block;
  float: right;
}
.anchor:hover {
  text-decoration: none;
}
.panel-title {
  display: inline-block;
}
